In [1]:
import pandas as pd
d=pd.read_csv("230901058.csv")
print(d)

   S.NO     NAME LOGIN TIME   SALARY GENDER
0     1  RONALDO       9:00  1000000      M
1     2   SMRITI       8:55   850000      F
2     3    KOHLI       9:05   980000      M
3     4   PANDYA       9:01   672879      M
4     5    STEPH       9:02   729404      M

In [3]:
df=pd.DataFrame(d)
print("columns",df.columns)
print(df.shape)

columns Index(['S.NO', 'NAME', 'LOGIN TIME', 'SALARY', 'GENDER'], dtype='object')
(5, 5)

In [5]:
print("salary\n",df.SALARY)

salary
 0    1000000
1     850000
2     980000
3     672879
4     729404
Name: SALARY, dtype: int64

In [6]:
print(df[5:9])

Empty DataFrame
Columns: [S.NO, NAME, LOGIN TIME, SALARY, GENDER]
Index: []

In [7]:
print("Particular Person's Details",df.loc[2])

Particular Person's Details S.NO               3
NAME           KOHLI
LOGIN TIME      9:05
SALARY        980000
GENDER             M
Name: 2, dtype: object

In [8]:
print(d.loc[d['SALARY']==1000000])

   S.NO     NAME LOGIN TIME   SALARY GENDER
0     1  RONALDO       9:00  1000000      M

In [9]:
df=d['SALARY']/999
print(df)

0    1001.001001
1     850.850851
2     980.980981
3     673.552553
4     730.134134
Name: SALARY, dtype: float64