In [83]:
import pandas as pd
a=pd.DataFrame()
print(a)

Empty DataFrame
Columns: []
Index: []

In [84]:
import pandas as pd
emp=pd.Series(['Dharan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'EMP':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nseries to DataFrame\n")
print(result)

series to DataFrame

         EMP  ID
0     Dharan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [85]:
print("\nExtracting one column\n")
print(result['EMP'])

Extracting one column

0       Dharan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: EMP, dtype: object

In [86]:
print("\nAdding one column:\n")
result['ID']=pd.Series([80,90,28,56,89])
result['AGE']=pd.Series([19,90,34,67,20])
print(result)

Adding one column:

         EMP  ID  AGE
0     Dharan  80   19
1     Sudeep  90   90
2       Siva  28   34
3       Yash  56   67
4  Keerthana  89   20

In [87]:
print("\nDeleting New Column:\n")
del result['AGE']
print(result)

Deleting New Column:

         EMP  ID
0     Dharan  80
1     Sudeep  90
2       Siva  28
3       Yash  56
4  Keerthana  89

In [88]:
print("\n Extracting The Second Row:\n")
print(result.loc[1])

 Extracting The Second Row:

EMP    Sudeep
ID         90
Name: 1, dtype: object

In [89]:
print("slice row:\n",result[1:4])

slice row:
       EMP  ID
1  Sudeep  90
2    Siva  28
3    Yash  56

In [90]:
d2=pd.DataFrame([['Vijay',100],['Rashid',111]],columns= ['Emp','ID'])
print("\n Adding new row:\n",pd.concat([result,d2]))

 Adding new row:
          EMP   ID     Emp
0     Dharan   80     NaN
1     Sudeep   90     NaN
2       Siva   28     NaN
3       Yash   56     NaN
4  Keerthana   89     NaN
0        NaN  100   Vijay
1        NaN  111  Rashid

In [92]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n squareroot of DataFrame:\n",info.apply(np.sqrt))
print("\n sum of each columns:\n",info.apply(np.sum,axis=0))
print("\n sum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:


 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 squareroot of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each columns:
 S    12
R    36
dtype: int64

 sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64